.text-container { width: 97%; }
.form-row { margin: 0.75rem 0 !important; }
.stats-row img + span { margin-left: 0.5rem; margin-right: 0.5rem; }
.image-button { cursor: pointer; margin-left: 0.25rem; margin-right: 0.25rem; }
select { padding-left: 0.25rem !important; }
option:disabled { color: lightgray; }
.form-row > div:first-child,.form-row > label:first-child 
{ padding-left: 0 !important; }

.form-control:disabled
{
	color: lightgray;
	background-color: unset !important;
}

.link-button 
{
	font-weight: bold;
	padding: 0.5rem !important;
	margin-left: 0.25rem;
	margin-right: 0.25rem;
}

.image-button:hover,.image-button:focus 
{ 
	box-shadow: 0 0 0 0.2rem black;
	border-radius: 3px;
}

.content-area
{
	width: 90%;
	background-color: white;
	border-radius: 5px;
	padding: 1.5rem 1rem;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (min-width: 768px)
{
	.content-area { width: 80%; padding-left: 1.5rem; padding-right: 1.5rem; }
}

.stats-row
{
	margin-left: 0 !important;
	margin-right: 0 !important;
	font-size: 0.75rem;
}

#newtextButton 
{ 
	color: white; 
	background-color: limegreen; 
	padding-bottom: 0 !important;
}

#newtextButton:hover,#newtextButton:focus { background-color: forestgreen; }
#userDropdown:hover,#userDropdown:focus { box-shadow: 0 0 0 0.2rem white; }
#loginButton:hover,#loginButton:focus { background-color: steelblue; }
#signupButton:hover,#signupButton:focus
{ background-color: lightgray !important; color: #17a2b8 !important; }

.settings-custom-section { width: 20%; flex: 0 0 20%; padding-left: 5px; }
#periodRadioSection { width: 10%; flex: 0 0 10%; padding-left: 5px; }

@media screen and (min-width: 992px)
{ 
	.settings-custom-section { width: 10%; flex: 0 0 10%; }
	#periodRadioSection { width: 5%; flex: 0 0 5%; }
}

input[type="number"]
{
	-webkit-appearance: textfield; -moz-appearance: textfield;
	-ms-appearance: textfield; -o-appearance: textfield;
	appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button
{ -webkit-appearance: none; }

.step-button { padding: 0; border-width: 1px; }
.step-button:disabled { -web-kit-filter: opacity(25%); filter: opacity(25%); }
