{% extends "sitepage.njk.html" %}
{% block header %}
	<style type="text/css">
		@media screen and (max-width: 768px)
		{ .table-responsive-md { width: 100% !important; }}
	</style>
{% endblock %}
{% block pagetitle %}
	List of Texts
{% endblock %}
{% block contenttitle %}
	{{ listowner }}'s Texts
{% endblock %}
{% block content %}
	<!-- TODO: Add a stats row with location, views, user's join date -->
	<table id="textlistTable" class="table table-striped w-75 table-responsive-md mt-3"
		style="table-layout: fixed;">
		<thead>
			<tr>
				<th scope="col" style="min-width: 200px;">Name / Title</th>
				<th scope="col">Created</th>
				<th scope="col">Expires</th>
				<!-- TODO: Add views -->
				{% if (listowner===username) %}
				<th scope="col"></th>
				{% endif %}
			</tr>
		</thead>
		{% if textlist and textlist.length>0 %}
		<tbody>
		{% for textitem in textlist %}
			<tr>
				<td>
					<a href="../{{ textitem.addresskey }}">
						{{ textitem.nametitle if (textitem.nametitle) else "Untitled" }}
					</a>
				</td>
				<td data-moment="{{ textitem.creationdate }}"></td>
				<td data-moment="{{ textitem.expirydate }}">Never</td>
				{% if (listowner===username) %}
				<td class="d-flex justify-content-end">
					<img src="editing.svg" width="24" height="24" class="image-button"
						data-address="{{ textitem.addresskey }}" title="Edit Text"
						onclick="editImageClicked(event)"/>
					<img src="delete.svg" width="24" height="24" class="image-button"
						data-address="{{ textitem.addresskey }}" title="Delete Text"
						onclick="deleteImageClicked(event)"/>
				</td>
				{% endif %}
			</tr>
		{% endfor %}
		</tbody>
		{% endif %}
	</table>
	<p id="statusMessage" class="w-75 text-center align-middle text-info" 
		style="height: 200px; display: {{ 'none' if (textlist and textlist.length>0) else 'block' }};">
		{{ "You have" if (listowner===username) else "This user has" }} no texts
	</p>
	<!-- No pagination UI for now... -->
	<div class="d-flex justify-content-center">
		<div id="toastMessage" class="toast">
			<div class="toast-header">
				<strong class="mr-auto"></strong>
				<button type="button" class="ml-2 close" data-dismiss="toast">
					<span>&times;</span>
				</button>
			</div>
			<div class="toast-body"></div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script type="text/javascript">
		window.addEventListener("load",function()
		{
			if (Number.parseInt===undefined) Number.parseInt=window.parseInt;
			//Using a bit of jQuery just for the toast component
			$(".toast").toast({delay: 2000});
			
			const textlistTable=document.getElementById("textlistTable");
			const tableBody=textlistTable.querySelector(":scope tbody");
			let contentElement;
			if (tableBody!==null)
			{
				const CREATION_DATE_COL_INDEX=1,EXPIRATION_DATE_COL_INDEX=2;
				Array.prototype.forEach.call(tableBody.children,function(tableRow,index)
				{
					const columns=tableRow.children;
					let timestamp=columns[CREATION_DATE_COL_INDEX].getAttribute("data-moment");
					let formatted=moment.utc(Number.parseInt(timestamp)).
							format("MMM Do, YYYY");
					columns[CREATION_DATE_COL_INDEX].textContent=formatted;
					columns[CREATION_DATE_COL_INDEX].removeAttribute("data-moment");
					timestamp=columns[EXPIRATION_DATE_COL_INDEX].getAttribute("data-moment");
					if (timestamp!=="")
					{
						formatted=moment.utc(Number.parseInt(timestamp)).toNow(true);
						columns[EXPIRATION_DATE_COL_INDEX].textContent=formatted;
						columns[EXPIRATION_DATE_COL_INDEX].removeAttribute("date-moment");
					}
				});
				//contentElement=document.getElementById("navigationSection");
			}
			else contentElement=document.getElementById("statusMessage");
			if (contentElement)
			{
				const actualWidth=textlistTable.getBoundingClientRect().width;
				contentElement.style.width=actualWidth;
				const fractionWidth=actualWidth/textlistTable.parentElement.
						getBoundingClientRect().width;
				if (fractionWidth>0.75)
					contentElement.classList.replace("w-75","w-100");
			}
		});
		
		function editImageClicked(event)
		{
			const addresskey=event.target.getAttribute("data-address");
			open(`../../edit/${addresskey}`,"_self");
		}
		
		function deleteImageClicked(event)
		{
			if (confirm("Are you sure you want to delete this text?"))
			{
				const addresskey=event.target.getAttribute("data-address");
				fetch(`../delete/${addresskey}`,{method: "DELETE"}).then(function(response)
				{
					if (response.ok)
					{
						let element=event.target.parentElement;
						while (element.localName!=="tr")
							element=element.parentElement;
						if (element.remove) element.remove();
						else element.parentElement.removeChild(element);
						showToast("Deletion Succeeded!","Your text has been deleted!");
					}
					else throw new Error(response.statusText);					
				}).catch(function(error)
				{ 
					showToast("Deletion Failed!","Couldn't delete your text: " + 
							error.message);
				});
			}
		}
		
		function showToast(header,body)
		{
			const toastMessage=document.getElementById("toastMessage");
			toastMessage.querySelector(":scope .toast-header").textContent=header;
			toastMessage.querySelector(":scope .toast-body").textContent=body;
			$("#toastMessage").toast("show");
		}
	</script>
{% endblock %}
