{% extends "sitepage.njk.html" %}
{% block pagetitle %}
	New Text
{% endblock %}
{% block contenttitle %}
	New Text {% if username %} by {{ username }} {% endif %}
{% endblock %}
{% block content %}
	<form id="newtextForm" method="post" action="/newtext" class="mt-3">
		<!-- TODO: Adjust the number of rows to fit the screen -->
		<textarea id="newtextArea" name="text" rows="20" maxlength="{{ maxlength }}" autofocus required 
			class="form-control text-container" style="resize: none;"></textarea>
		<button type="submit" class="btn btn-primary mt-2">Share</button>
	</form>
{% endblock %}