<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="./styles.css">
		<title>Text Share - New text</title>
	</head>
	<body class="bg-muted">
		<div class="content-area">
			<h4 style="text-title">
				New Text {% if username %} by {{ username }} {% endif %}
			</h4>
			<form id="newtextForm" method="post" action="/newtext" class="mt-3">
				<!-- TODO: Adjust the number of rows to fit the screen -->
				<textarea id="newtextArea" name="text" rows="23" maxlength="{{ maxlength }}" autofocus required 
					class="form-control text-container" style="resize: none;"></textarea>
				<button type="submit" class="btn btn-primary mt-2">Share</button>
			</form>
		</div>
	</body>
</html>
	