<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="./styles.css">
		<title>Text Share - View Text</title>
	</head>
	<body class="bg-muted">
		<div class="content-area">
			<!-- TODO: Name / Title -->
			<h4 class="text-title">Shared Text</h4>
			<div class="mt-3 px-2 rounded text-container" style="border: 1px solid #D0D0D0; overflow: auto;">
				{{ text }} <!-- TODO: Formatting -->
			</div>
		</div>
	</body>
</html>