{% extends "sitepage.njk.html" %}
{% set title=("Sign Up" if signup else "Login") %}
{% block pagetitle %}
	{{ title }}
{% endblock %}
{% block contenttitle %}
	{{ title }}
{% endblock %}
{% block content %}
	{% if submiterror %}
	<span class="text-danger mt-3">
		{{ submiterror.errortext }}
		{% if submiterror.link %}
		&nbsp;<a href="{{ submiterror.link }}">{{ submiterror.linktext }}</a>
		{% endif %}
	</span>
	{% endif %}
	<form id="signloginForm" action="{{ '/signup' if signup else '/login' }}"
		method="post" class="{{ 'mt-3' if submiterror else 'mt-4' }}">
		<div class="form-row">
			<label for="usernameInput" class="col-2 col-lg-1 col-form-label for-required">
				Username:
			</label>
			<div class="col-6 col-lg-3">
				<input id="usernameInput" name="username" type="text" autofocus required
					minlength="{{ minUsernameLength }}" maxlength="{{ maxUsernameLength }}"
					placeholder="Your username" spellcheck="false" class="form-control w-100"
					pattern="{{ usernamePattern }}"/>
			</div>
		</div>
		{% if signup %}
		<div class="form-row">
			<label for="emailInput" class="col-2 col-lg-1 col-form-label for-required">
				Email:
			</label>
			<div class="col-6 col-lg-3">
				<input id="emailInput" name="email" type="text" overflow="auto" required 
					minlength="{{ minEmailLength }}" maxlength="{{ maxEmailLength }}"
					placeholder="Your e-mail" spellcheck="false" class="form-control w-100"/>
			</div>
		</div>
		{% endif %}
		<div class="form-row">
			<label for="passwordInput" class="col-2 col-lg-1 col-form-label for-required">
				Password:
			</label>
			<div class="col-6 col-lg-3">
				<!-- TODO: Add pattern validation -->
				<input id="passwordInput" name="password" type="password" required
					minlength="{{ minPasswordLength }}" maxlength="{{ maxPasswordLength }}"
					placeholder="Your password" spellcheck="false" class="form-control w-100"
					autocomplete="off" overflow="auto"/>
			</div>
		</div>
		<!-- TODO: Add a reenter password field for signup -->
		<div class="form-row">
			<div class="col-2 col-lg-1"></div>
			<div class="col-2 col-lg-1">
				<button type="submit" class="btn btn-primary">{{ title }}</button>
			</div>
		</div>
	</form>
{% endblock %}

{% block scripts %}
	<script type="text/javascript">
		window.onload=function()
		{
			const usernamePattern=document.getElementById("usernameInput").pattern;
			usernamePattern=usernamePattern.substring(1,usernamePattern.length-1);
			document.getElementById("emailInput").pattern="^" + usernamePattern + "@" + 
					usernamePattern + "\\." + usernamePattern + "$";
		}
	</script>
{% endblock %}
